<%= form_for(@proyecto) do |f| %>
  <% if @proyecto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proyecto.errors.count, "error") %> prohibited this proyecto from being saved:</h2>

      <ul>
      <% @proyecto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :lugar %><br>
    <%= f.text_field :lugar %>
  </div>
  <div class="field">
    <%= f.label :descripcion_corta %><br>
    <%= f.text_field :descripcion_corta %>
  </div>
  <div class="field">
    <%= f.label :descripcion_larga %><br>
    <%= f.text_area :descripcion_larga %>
  </div>
  <div class="field">
    <%= f.label :fecha_inicio_proyecto %><br>
    <%= f.date_select :fecha_inicio_proyecto %>
  </div>
  <div class="field">
    <%= f.label :fecha_fin_proyecto %><br>
    <%= f.date_select :fecha_fin_proyecto %>
  </div>
  <div class="field">
    <%= f.label :fecha_inicio_recaudacion %><br>
    <%= f.datetime_select :fecha_inicio_recaudacion %>
  </div>
  <div class="field">
    <%= f.label :fecha_fin_recaudation %><br>
    <%= f.datetime_select :fecha_fin_recaudation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
