# encoding: utf-8

<div id="proyecto" class="col-lg-4">
  <div class="well">
    <h2><%= proyecto.titulo %></h2>
    <div class="row">
      <div class="banner" style="width: 100%">
        <ul>
          <% proyecto.attachments.each do |img| %>
              <li><%= image_tag img.attachment.url(:small) %></li>
          <% end %>
        </ul>
        <a href="#" class="unslider-arrow prev">Previous slide</a>
        <a href="#" class="unslider-arrow next">Next slide</a>
      </div>
    </div>
    <div class="row">
      <%= proyecto.descripcion_corta %>
    </div>
    <div class="row">
      <div class="col-md-10">
        <div class="progress progress-striped">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= proyecto.total_collected %>" aria-valuemin="0"
               aria-valuemax="<%= proyecto.cantidad_total %>" style="width: <%= (proyecto.total_collected * 100) / proyecto.cantidad_total  %>%">
            <span class="sr-only">40% de <%= proyecto.cantidad_total %> conseguido </span>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <%= proyecto.cantidad_total %>&euro;
      </div>
    </div>
    <div class="row">
      Quedan <%= time_ago_in_words(proyecto.fin_aportaciones) %>
    </div>
    <div class="row">
      <div class="col-md-2">Aportación</div>
      <div class="col-md-10">
        <% if signed_in? && current_user.admin? %>
            <%= link_to "Editar", edit_proyecto_path(proyecto) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
