# encoding: utf-8

<div class="col-sm-4 zeropading">
  <div id="<%= proyecto.id %>" class="
    <% if proyecto.total_collected > proyecto.cantidad_total %>
    extracollected
    <% end %> proyectoHome">
    <h3 id="tituloProyecto"><%= proyecto.titulo %></h3>

    <%= render '/shared/carousel', proyecto: proyecto %>

    <div class="descripcionCorta">
      <%= proyecto.descripcion_corta %>
    </div>
    <div class="col-sm-9">
      <%= render 'shared/progress_bar', proyecto: proyecto %>
    </div>
    <div class="col-sm-3"><span class="badge-cantidad" data-toggle="tooltip" data-placement="top" title="Objetivo a recaudar: <%= proyecto.cantidad_total.to_i %>&euro;"><%= proyecto.cantidad_total.to_i %>&euro;</span></div>
    <div class="finAportaciones">
      Quedan <%= time_ago_in_words(proyecto.fin_aportaciones) %>
    </div>

    <div class="row">
      <div class="col-sm-4 social-buttons">
        <%= social_share_button_tag('Colabora tú también con esta iniciativa CEU: ' + proyecto.titulo, :url => proyecto_path(proyecto, only_path: false)) %>
      </div>
      <div class="col-sm-8 text-right">
        <% if signed_in? && current_user.admin? %>
            <%= link_to "Editar", edit_proyecto_path(proyecto), class: 'btn-xs btn-default' %>
            <%= link_to "Borrar", proyecto, method: :delete,
                        data: {confirm: "¿Está seguro?"}, class: 'btn-xs btn-warning' %>
        <% end %>
        <%= render 'users/voluunter_form', proyecto: proyecto %>
      </div>
    </div>
  </div>
</div>



