# encoding: utf-8

<div class="col-md-4 zeropading">
  <div id="<%= proyecto.id %>" class="proyectoHome">
    <h3 id="tituloProyecto"><%= proyecto.titulo %></h3>
    <div class="banner">
      <ul>
        <% proyecto.attachments.each do |img| %>
            <li><%= image_tag img.attachment.url(:small) %></li>
        <% end %>
      </ul>
    </div>
    <div class="descripcionCorta">
      <%= proyecto.descripcion_corta %>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= proyecto.total_collected %>" aria-valuemin="0"
           aria-valuemax="<%= proyecto.cantidad_total %>" style="clear:both;width: <%= (proyecto.total_collected * 100) / proyecto.cantidad_total  %>%">
        <span class="sr-only">40% de <%= proyecto.cantidad_total %> conseguido </span>
      </div>
    </div>
    <div class="cantidadTotal">
      <%= proyecto.cantidad_total.to_i %>&euro;
    </div>
    <div class="finAportaciones">
      Quedan <%= time_ago_in_words(proyecto.fin_aportaciones) %>
    </div>
    <div class="botonesEdicionProyectos">
      <% if signed_in? && current_user.admin? %>
          <%= link_to "Editar", edit_proyecto_path(proyecto), class: 'btn btn-default' %>
          <%= link_to "Borrar", proyecto, method: :delete,
                      data: {confirm: "¿Está seguro?"}, class: 'btn btn-warning' %>
      <% end %>
    </div>
  </div>
</div>



