# encoding: utf-8

<div id="<%= proyecto.id %>" class="col-sm-4 col-xs-12 project-home">
  <div class="panel panel-default">

    <div class="panel-body">
      <h3 class="text-center"><%= link_to proyecto.titulo, proyecto %>
      </h3>
      <div class="col-sm-12 text-right">
        <% if signed_in? && current_user.admin? %>
            <%= link_to "Editar", edit_proyecto_path(proyecto), class: 'btn-xs btn-default' %>
            <%= link_to "Borrar", proyecto, method: :delete,
                        data: {confirm: "¿Está seguro?"}, class: 'btn-xs btn-warning' %>
        <% end %>
      </div>
      <div class="col-sm-12">
        <%= render '/shared/carousel', proyecto: proyecto %>
      </div>
      <div class="col-sm-12">
        <%= proyecto.descripcion_corta %>
      </div>
      <% if (proyecto.aportable? || (!proyecto.aportable? && proyecto.total_collected > 0)) %>
          <div class="col-sm-12">
            <%= render 'shared/progress_bar', proyecto: proyecto %>
          </div>
      <% end %>
      <div class="col-xs-6 text-left small">
        <% if proyecto.total_collected > 0 %>
            <div class="text-success">
              <%= pluralize(proyecto.total_collected, '€ conseguido', '€ conseguidos') %>
              de <%= proyecto.cantidad_total.to_i %>€
            </div>
        <% else %>
            <div class="text-info">
              <% if proyecto.aportable? %>
                  Sé el primero en colaborar!
              <% else %>
                  Proyecto cerrado
              <% end %>
            </div>
        <% end %>
      </div>
      <div class="col-xs-6 text-right small text-muted">
        <% if proyecto.aportable? %>
            Quedan <%= time_ago_in_words(proyecto.fin_aportaciones) %>
        <% else %>
            <span title="Ya ha finalizado el plazo para colaborar con este proyecto">Cerrado</span>
        <% end %>
      </div>
      <div id="volunteers-project-<%= proyecto.id %>" class="col-sm-12 text-center text-info bold margin-top-xs margin-sm">
        <%= render 'volunteers/volunteers_project', proyecto: proyecto %>
      </div>

      <div class="col-xs-12 col-sm-12">
        <div class="col-xs-4 text-left"><%= tweet_button(url: proyecto_path(proyecto, only_path: false), text: 'Colabora con esta inciativa!', via: '', count: 'none')  %></div>
        <div class="col-xs-8 text-right"><%= like_button('1500444366835135', send: true, href: proyecto_path(proyecto, only_path: false)) %></div>
      </div>
      <% if proyecto.aportable? %>
          <div class="col-xs-12 margin-xxs">
            <%= render 'users/voluunter_form', proyecto: proyecto %>
          </div>
          <div class="col-xs-12">
            <%= link_to 'Colaborar', modal_proyecto_path(proyecto), remote: true, class: 'btn btn-xs btn-info btn-block' %>
          </div>
      <% else %>
          <div class="col-xs-12 label label-success label-sm text-center margin-top-sm">
            GRACIAS POR LA AYUDA
          </div>
      <% end %>
    </div>

  </div>
</div>



