<div class="row">
  <table id="adminTable" class="table table-hover">
    <thead>
    <tr>
      <th><%= sortable "titulo", "Titulo" %></th>
      <th><span title="objetivo a recaudar"><%= sortable "cantidad_total", "Total" %></span></th>
      <th><span title="€ recaudados">Aportaciones</span></th>
      <th><span title="voluntarios inscritos"><%= 'Voluntarios' %></span> </th>
      <th><%= sortable "fin_aportaciones", "Fin Aportaciones" %></th>
      <th><%= sortable "fecha_inicio", "Fecha Inicio" %></th>
      <th><%= sortable "fecha_fin", "Fecha Fin" %></th>
      <th><span title="indica si el proyecto puede ser visto por los usuarios"><%= sortable "visible", "Visible" %></span></th>
    </tr>
    </thead>
    <tbody>
    <% @proyectos.each do |proyecto| %>
        <tr data-link="<%= proyecto_path(proyecto) %>" class="<%= proyecto.assign_class %>">
          <td><%= link_to proyecto.titulo, proyecto %></td>
          <td class="text-center"><%= proyecto.cantidad_total.to_i %>&euro;</td>
          <td class="text-center"><%= proyecto.total_collected.to_i %>&euro;</td>
          <td class="text-center"><%= proyecto.volunteers.count.to_i %></td>
          <td>
            <% if proyecto.past? %>Cerrado hace
            <% else %> Queda
            <% end %>
            <%= proyecto.fin_aportaciones_in_words %></td>
          <td><%= proyecto.fecha_inicio.strftime("%d/%m/%Y") %></td>
          <td><%= proyecto.fecha_fin.strftime("%d/%m/%Y") %></td>
          <td><%= transbol(proyecto.visible) %></td>
          <td><%= link_to 'Ver', proyecto, class: 'btn btn-default btn-xs' %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate previous_label: t("Anterior"), next_label: t("Siguiente") %>