<% provide(:title, @proyecto.titulo) %>

<h2><%= @proyecto.titulo %></h2>

<div class="well col-lg-6">
  <div class="row">
    <div class="col-md-2">Titulo:</div>
    <div class="col-md-3"><b><%= @proyecto.titulo %></b></div>
  </div>
  <div class="row">
    <div class="col-md-2">Cantidad total:</div>
    <div class="col-md-3"><b><%= @proyecto.cantidad_total %></b></div>
  </div>
  <% @proyecto.attachments.each do |img| %>
      <%= image_tag img.attachment.url(:thumb), class: "img-thumbnail" %>
  <% end %>
  <div class="row">
    <div class="col-md-5">
      <div class="progress progress-striped">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0"
             aria-valuemax="100" style="width: 40%">
          <span class="sr-only">40% Complete (success)</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3">
      <%= link_to "Editar", edit_proyecto_path(@proyecto) %>
    </div>

  </div>
</div>
