<% provide(:title, @proyecto.titulo) %>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h2><%= @proyecto.titulo %>
      <% if current_user_admin? %>
          <div class="pull-right">
            <%= link_to "Editar", edit_proyecto_path(@proyecto), class: 'btn btn-default btn-sm' %>
            <%= link_to "Borrar", @proyecto, method: :delete,
                        data: {confirm: "¿Está seguro?"}, class: 'btn btn-warning btn-sm' %>
          </div>
      <% end %>
    </h2>
  </div>
</div>

<div class="row">
  <ul class="col-sm-3 nav nav-pills nav-stacked">
    <li id="menuIzqShowProject" class="active"><a href="#">Datos del Proyecto</a></li>
    <li id="menuIzqBlogProject"><a href="#">Blog</a></li>
  </ul>
  <div id="showProject" class="col-sm-8">
    <div id="modalId" class="hidden">
      <%= @proyecto.id %>
    </div>
    <div class="col-sm-12">
      <%= @proyecto.descripcion_corta %>
    </div>
    <div class="col-sm-6 col-sm-offset-3">
      <%= render '/shared/carousel', proyecto: @proyecto %>
    </div>
    <div class="col-sm-12">
      <%= @proyecto.descripcion_larga.html_safe %>
    </div>
    <div class="col-sm-12">
      Desde <%= @proyecto.fecha_inicio %> hasta <%= @proyecto.fecha_fin %>
    </div>
    <div class="col-sm-12">
      Lugar: <%= @proyecto.lugar %>
    </div>
    <div class="col-sm-8">
      <div class="progress progress-striped">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= @proyecto.total_collected %>" aria-valuemin="0"
             aria-valuemax="<%= @proyecto.cantidad_total %>" style="width: <%= (@proyecto.total_collected * 100) / @proyecto.cantidad_total  %>%">
          <span class="sr-only">40% de <%= @proyecto.cantidad_total %> conseguido </span>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <%= @proyecto.cantidad_total.to_i %>&euro;
    </div>
    <div class="col-sm-12">
      <div id="modalRecaudado">
        Conseguidos <%= @proyecto.total_collected.to_i %>&euro;
      </div>
      <div class="modalQueda">
        Quedan <%= time_ago_in_words(@proyecto.fin_aportaciones) %>
      </div>
    </div>
    <div class="col-sm-12 well">
      <div class="col-sm-3 blue-letter">
        Colaborar con
      </div>
      <div class="col-sm-6">
        <input id="aportationSlider" type="range" min="5" max="80" value="5" class="form-control"/>
      </div>
      <div id="aportationInfo" class="col-sm-1 blue-letter"></div>
      <div class="col-sm-2">
        <button id="btnAportar" type="button" class="btn btn-primary" data-dismiss="modal">Colaborar</button>
      </div>
    </div>
  </div>
  <div id="blogProject" class="col-sm-8 hidden">
    <%= render @proyecto.blog_posts %>
  </div>
</div>

