<% provide(:title, @proyecto.titulo) %>

<div class="col-sm-3 hidden-xs">
  <br>
  <blockquote>
    <p>
      Mantente al día y sigue las últimas acciones emprendidas por el Área de Voluntariado gracias a nuestro Blog.
    </p>
  </blockquote>
</div>

<div class="col-sm-9 col-xs-12">
  <ol class="breadcrumb breadcum-title">
    <h4><%= @proyecto.titulo %>
      <% if current_user_admin? %>
          <div class="pull-right">
            <%= link_to "Editar", edit_proyecto_path(@proyecto), class: 'btn btn-default btn-sm' %>
            <%= link_to "Borrar", @proyecto, method: :delete,
                        data: {confirm: "¿Está seguro?"}, class: 'btn btn-warning btn-sm' %>
          </div>
      <% end %>
    </h4>
  </ol>

  <div class="panel panel-default">
    <!--TODO poner categoría a proyectos-->
    <div class="panel-heading clearfix"><%= 'Categoría'.pluralize(@proyecto.tag_list.count) %>
      : <%= raw @proyecto.tag_list.map { |t| link_to(t, tag_proyectos_path(t)) }.join(', ') %></div>
    <div class="panel-body clearfix">
      <div class="col-sm-3 col-xs-7">
        <span class="label-muted label-lg media-object">
          <% if @proyecto.aportable? %>
              <span title="hasta fin de recaudación">
                <%= time_ago_in_words(@proyecto.fin_aportaciones) %>
              </span>
              <% else %>
              <span title="Ya no se puede colaborar con este proyecto" class="text-warning">Cerrado</span>
          <% end %>
        </span>
      </div>
      <div class="col-sm-3 col-xs-5" title="objetivo a recaudar">
        <span class="label label-lg label-emphasis media-object"><%= @proyecto.cantidad_total.to_i %>&euro;</span>
      </div>
      <div class="col-sm-3 col-xs-7">
        <%= render 'shared/progress_bar', proyecto: @proyecto %>
        <span class="text-center"> <small><%= render 'proyectos/cantidad_conseguida_sin_total', proyecto: @proyecto %></small></span>
      </div>
      <div class="col-sm-3 col-xs-5 text-center">
        <span id="volunteers-project-<%= @proyecto.id %>" class="text-info large">
          <%= render 'volunteers/volunteers_project', proyecto: @proyecto %>
        </span>
      </div>
    </div>
  </div>

  <% if @proyecto.aportable? %>
      <div class="panel panel-default">
        <div class="panel-body">
          <%= form_tag('/cartItemCreate', method: 'post', class: 'form-horizontal') do %>
              <%= hidden_field_tag :proyecto_id, @proyecto.id %>
              <div class="col-sm-2 text-primary small text-center">
                <span>Colaborar con</span>
              </div>
              <div class="col-sm-3" id="divSlider">
                <%= range_field_tag :aportacion, 5, min: 5, max: 100, id: 'aportationSlider', class: 'form-control aportationSlider' %>
              </div>
              <div id="aportationInfo" class="aportationInfo col-sm-1 large text-primary bold text-left">5€</div>
              <div class="col-sm-3">
                <%= submit_tag 'Colaborar', class: 'btn btn-primary btn-block' %>
              </div>
          <% end %>
          <div class="col-sm-3">
            <%= render 'users/voluunter_form_sm', proyecto: @proyecto %>
          </div>
        </div>
      </div>
  <% end %>

  <div class="panel panel-default">
    <div class="panel-body">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#details" data-toggle="tab">Detalles del proyecto</a></li>
        <li><a href="#images" data-toggle="tab">Imágenes</a></li>
        <li><a href="#blog" data-toggle="tab">Blog</a></li>
        <li><a href="#aportations" data-toggle="tab">Aportaciones</a></li>
        <% if current_user_admin? %>
            <li>
              <a href="#volunteers" data-toggle="tab"><span class="glyphicon glyphicon-wrench" title="opción solo disponible para administradores"></span>
                Voluntarios</a></li>
        <% end %>
      </ul>

      <div class="tab-content">
        <div class="tab-pane fade active in" id="details">
          <div class="panel panel-default margin-top-sm">
            <div class="panel-body">
              <h5>Descripción</h5>
              <%= @proyecto.descripcion_larga.html_safe %>
              <hr>
              <h5>Lugar</h5>
              - <%= @proyecto.lugar %>
              <h5>Fecha</h5>
              - Desde el <%= @proyecto.fecha_inicio %> hasta el <%= @proyecto.fecha_fin %>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="images">
          <div class="panel panel-default margin-top-sm">
            <div class="panel-body">
              <% if @proyecto.attachments.count > 0 %>
                  <% @proyecto.attachments.each_with_index do |img, i| %>
                      <div id="attachment-<%= img.id %>" class="col-md-6 edit-project-img">
                        <%= image_tag img.image.url(:small), class: 'img-rounded' %>
                      </div>
                  <% end %>
              <% else %>
                  <h5>Este proyecto aún no tiene imágenes</h5>
              <% end %>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="blog">
          <div class="panel panel-default margin-top-sm">
            <div class="panel-body">
              <div class="col-sm-12">
                <% if @proyecto.blog_posts.count > 0 %>
                    <%= render @proyecto.blog_posts %>
                <% else %>
                    <h5>Aún no hemos publicado ningún artículo sobre este proyecto</h5>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="aportations">
          <div class="panel panel-default margin-top-sm">
            <div class="panel-heading clearfix">
              <% if @proyecto.cart_items_purchased.count == 0 %>
                  Sé el primero en colaborar!
              <% else %>
                  <%= pluralize(@proyecto.cart_items_purchased.count, 'usuario ha', 'usuarios han') %>
                  aportado <%= @proyecto.total_collected %>€
              <% end %>
            </div>
            <%= render 'shared/aportations', cart_items: @proyecto.cart_items_purchased %>
          </div>
        </div>

        <% if current_user_admin? %>
            <div class="tab-pane fade" id="volunteers">
              <div class="panel panel-default margin-top-sm">
                <div class="panel-heading clearfix">
                  <% if @proyecto.volunteers.count == 0 %>
                      Ningún voluntario inscrito
                  <% else %>
                      <%= pluralize(@proyecto.volunteers.count, 'voluntarios inscritos', 'usuarios han') %>
                      aportado <%= @proyecto.total_collected %>€
                  <% end %>
                </div>
                <table class="table">
                  <% @proyecto.volunteers.each do |vol| %>
                      <tr>
                        <td>
                          <span title="Inscrito en <%= pluralize(vol.user.volunteers.count, 'proyecto', 'proyectos') %>" class="glyphicon glyphicon-globe"></span>
                        </td>
                        <td class="small"><%= link_to vol.user.name_second, vol.user %></td>
                        <td class="small" title="Inscrito el"><%= (vol.created_at).strftime('%d/%m/%Y') %></td>
                        <td class="text-center"><span class="label label-<%= vol.assign_label_class %>"><%=vol.status%></span></td>
                      </tr>
                  <% end %>
                </table>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>