<% provide(:title, @proyecto.titulo) %>

<h2><%= @proyecto.titulo %></h2>

<div class="well col-lg-7">
  <div class="row">
    <div class="col-md-2">Titulo:</div>
    <div class="col-md-3"><b><%= @proyecto.titulo %></b></div>
  </div>
  <div class="row">
    <div class="col-md-2">Cantidad total:</div>
    <div class="col-md-3"><b><%= @proyecto.cantidad_total %></b></div>
  </div>
  <% @proyecto.attachments.each do |img| %>
      <%= image_tag img.attachment.url(:thumb), class: "img-thumbnail" %>
  <% end %>
  <div class="row">
    <div class="col-md-5">
      <div class="progress progress-striped">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= @proyecto.total_collected %>" aria-valuemin="0"
             aria-valuemax="<%= @proyecto.cantidad_total %>" style="width: <%= (@proyecto.total_collected * 100) / @proyecto.cantidad_total  %>%">
          <span class="sr-only">40% Complete (success)</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">Aportación</div>
    <div class="col-md-3">
      <%= form_for @cartitem, :html => {:class => "form-inline"} do |f| %>
          <%= f.hidden_field :proyecto_id %>
          <div class="row">
            <div class="col-md-6"><%= f.text_field :aportacion, class: 'form-control' %></div>
            <div class="col-md-6"><%= f.submit "Colaborar", class: "btn btn-primary" %></div>
          </div>
      <% end %>
      <%= link_to "Editar", edit_proyecto_path(@proyecto) %>
    </div>

  </div>
</div>
