<div class="row">
  <table id="adminTable" class="table table-hover">
    <thead>
    <tr>
      <th><%= sortable 'users.family_name', "Voluntario" %></th>
      <th><%= sortable 'users.email', "Email" %></th>
      <th><%= sortable 'users.birthdate', "Edad" %></th>
      <th><%= sortable 'proyectos.titulo', "Proyecto" %></th>
      <th><%= sortable 'volunteers.status', "Estado" %></th>
      <th><%= sortable 'volunteers.created_at', "Fecha inscripción" %></th>
    </tr>
    </thead>
    <tbody>
    <% @volunteers.each do |volunteer| %>
        <tr>
          <td><%= link_to volunteer.user.family_name + ', ' + volunteer.user.name, volunteer.user %></td>
          <td><%= volunteer.user.email %></td>
          <td><%= time_ago_in_words(volunteer.user.birthdate) %></td>
          <td><%= link_to volunteer.proyecto.titulo, volunteer.proyecto %></td>
          <td>
            <%= form_for volunteer, remote: true, class: 'form-inline' do |v| %>
                <div class="form-group">
                  <%= v.select(:status, options_for_select([['Pendiente revisión'], ['Aceptado'], ['Pendiente'], ['Rechazado']], volunteer.status), {}, {class: 'form-control input-sm volunteer_status'}) %>
                </div>
            <% end %>
          </td>
          <td><%= volunteer.created_at.strftime("%d/%m/%Y") %></td>
          <td><td><%= link_to 'Responder', volunteer, remote: true, class: 'btn btn-default btn-xs' %></td></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate previous_label: t("Anterior"), next_label: t("Siguiente") %>