<% provide(:title, 'Iniciar sesión') %>

<h2>Iniciar sesión</h2>
<div class="row">
  <%= form_for(:session, url: sessions_path, html: {class: "well col-lg-6"}) do |f| %>
      <div class="form-group">
        <%= f.label :email, class: "control-label" %>
        <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
      </div>
      <div class="form-group">
        <%= f.label :password, "Contraseña", class: "control-label" %>
        <%= f.password_field :password, class: "form-control", placeholder: "Contraseña" %>
      </div>
      <div class="form-inline">
        <%= f.submit "Iniciar sesión", class: "btn btn-primary" %> <%= link_to "¿Olvidó su contraseña?", new_password_resset_path %>
      </div>

  <% end %>
</div>