<% provide(:title, 'Carrito de la compra') %>

<ol class="breadcrumb breadcum-title">Carrito de la compra</ol>
<div class="row">
  <% if @current_cart.sub_total > 0 %>
      <div class="col-sm-7 col-xs-12">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Proyecto</th>
            <th>Aportación</th>
          </tr>
          </thead>
          <% @current_cart.valid_cart_items.each do |ci| %>
              <tr>
                <td><%= link_to ci.proyecto.titulo, ci.proyecto %></td>
                <td><%= ci.aportacion %> &euro;</td>
              </tr>
          <% end %>
          <tfoot>
          <tr>
            <td>
              <b>Total carrito</b>
            </td>
            <td>
              <b><%= @current_cart.sub_total %> &euro;</b>
            </td>
          </tr>
          </tfoot>
        </table>
        <div>
          <%= link_to express_new_order_path, class: 'btn btn-primary btn-block' do %>
              <span class="glyphicon glyphicon-credit-card"></span>
              Pagar con Paypal
          <% end %>
        </div>
      </div>
      <div class="col-sm-3 col-sm-offset-1 hidden-xs">
        <blockquote>
          <p>
            Estás a un click de ayudar a la construcción de una sociedad más justa y fraterna
          </p>
        </blockquote>
      </div>
  <% else %>
      <div class="col-sm-7 col-xs-12">
        <div class="row">
          <div class="alert alert-info">
            Añada algún proyecto con el que colaborar
          </div>
        </div>
        <div class="row">
          <%= link_to 'Inicio', root_path, class: 'btn btn-default btn-block' %>
        </div>
      </div>
  <% end %>
</div>