<% provide(:title, 'Posts') %>

<div class="row">
  <div class="col-md-2">
    <h2>Posts</h2>
  </div>
  <div class="col-md-8" id="divBtnNuevoUsuario">
    <%= form_tag users_path, method: "get", class: "form-inline formBusqueda" do %>
        <%= hidden_field_tag :direction, params[:direction]  %>
        <%= hidden_field_tag :sort, params[:sort]  %>
        <p>
          <%= text_field_tag :search, params[:search], class:'form-control', placeholder:'Buscar', id:'inputBuscar' %>
          <%= submit_tag "Buscar", class:'btn btn-default', name:nil %>
          <%= link_to "Nuevo", new_blog_post_path, class: 'btn btn-primary' %>
        </p>
    <% end %>
  </div>
</div>
<div class="row">
</div>
<div id="blog_posts">
  <%= render 'blog_posts' %>
</div>
