<div class="row">
  <table id="adminTable" class="table table-hover">
    <thead>
    <tr>
      <th><%= sortable "name", "Nombre" %></th>
      <th><%= sortable "family_name", "Apellidos" %></th>
      <th><%= sortable "email", "Email" %></th>
      <th><%= sortable "birthdate", "Fecha de Nacimiento" %></th>
      <th><%= sortable "admin", "Permisos" %></th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
        <tr data-link="<%= user_path(user) %>" id="user_<%= user.id %>" class="<%= user.assign_class %>" title="<%= user.assign_title %>">
          <td><%= link_to user.name, user %></td>
          <td><%= user.family_name %></td>
          <td><%= user.email %></td>
          <td><%= user.birthdate.strftime("%d/%m/%Y") %></td>
          <td>
            <% if user.admin? %>
                <span class="label label-info">Administrador</span>
            <% end %>
            <% if user.blog_editor? %>
                <span class="label label-info">Editor del Blog</span>
            <% end %>
          </td>
          <td>
            <div class="pull-right">
              <% unless user.confirmed? %>
                  <%= link_to 'Confirmar', adm_confirm_user_path(user), id: 'btn_confirm_' + user.id.to_s, method: :put, remote: true, class: 'btn btn-default btn-xs' %>
              <% end %>
              <%= link_to "Editar", user_path(user), class: 'btn btn-default btn-xs' %>
              <% unless user.deleted? %>
                  <%= link_to "Borrar", delete_user_path(user), method: :post, :remote => true,
                              data: {confirm: "¿Está seguro?"}, class: 'btn btn-warning btn-xs' %>
              <% end %>
              <%= link_to "Aportaciones", aportations_user_path(user), class: 'btn btn-default btn-xs' %>
            </div>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate previous_label: t("Anterior"), next_label: t("Siguiente") %>