<% provide(:title, 'Editar Perfil') %>


<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h2>Pefil de Usuario</h2>
  </div>
</div>

<div class="row">
  <ul class="col-sm-3 nav nav-pills nav-stacked">
    <li id="menuIzqPerfil" class="active"><a href="#">Perfil</a></li>
    <li id="menuIzqEditar"><a href="#">Editar Perfil</a></li>
    <li id="menuIzqCambiar"><a href="#">Cambiar contraseña</a></li>
    <li id="menuIzqPagos"><a href="#">Aportaciones Realizadas</a></li>
    <li id="menuIzqVoluntario"><a href="#">Voluntario en</a></li>
  </ul>

  <%= render 'show_perfilUsuario' %>

  <%= render 'show_editarPerfilUsuario' %>

  <%= render 'show_changePassword' %>

  <%= render 'show_aportaciones' %>

  <%= render 'show_voluntario' %>

</div>