<!-- Modal -->

<div class="modal fade modalProyecto" id="modalProyecto-<%= proyecto.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div id="modalId" style="visibility: hidden"></div>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="modalTitle"><%= proyecto.titulo %></h3>
      </div>
      <div class="modal-body">
        <div class="img-container">
          <%= render '/shared/carousel_modal', proyecto: proyecto, style: "width: 80%" %>
        </div>
        <div id="modalDescripcionLarga"><%= proyecto.descripcion_larga.html_safe %></div>
        <div id="modalFecha">Desde <%= proyecto.fechaInicio %> hasta <%= proyecto.fechaFin %></div>
        <div id="modalLugar">Lugar: <%= proyecto.lugar %></div>
        <div class="progress">
          <div id="modalProgress" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
               aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
        <div id="modalRecaudado"><%= pluralize(proyecto.total_collected, ' € Recaudado', ' € Recaudados') %></div>
        <div id="modalQueda">Queda: <%= proyecto.queda %></div>
      </div>
      <div class="modal-footer">
        <div id="colaborarCon">
          Colaborar con
        </div>
        <%= form_tag('/cartItemCreate', method: 'post', remote: 'true') do %>
            <%= hidden_field_tag :proyecto_id, proyecto.id %>
            <div id="divSlider">
              <%= range_field_tag :aportacion, 5, min: 5, max: 80, id: 'aportationSlider', class: 'form-control aportationSlider' %>
            </div>
            <div id="aportationInfo" class="aportationInfo">5€</div>
            <div id="divAportar">
              <%= submit_tag 'Colaborar', class:'btn btn-primary' %>
            </div>

        <% end %>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div><!-- /.modal -->

