<!-- Modal -->

<div class="modal fade modal-project" id="modalProyecto-<%= proyecto.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div id="modalId" style="visibility: hidden"></div>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="text-center"><%= link_to proyecto.titulo, proyecto %></h4>
      </div>
      <div class="modal-body">
        <div class="col-xs-12 margin-xs"><%= proyecto.descripcion_larga.html_safe %></div>
        <div class="col-sm-7" title="Fecha del proyecto">
          <span class="text-muted">Desde el</span> <%= proyecto.fechaInicio %>
          <span class="text-muted">hasta el</span> <%= proyecto.fechaFin %>
        </div>
        <div class="col-sm-5"><span class="text-muted">Lugar:</span> <%= proyecto.lugar %></div>
        <div class="col-xs-12"> <%= render 'shared/progress_bar', proyecto: proyecto %></div>
        <div class="col-xs-6 text-left">
          <%= render 'proyectos/cantidad_conseguida', proyecto: proyecto %>
        </div>
        <div class="col-xs-6 text-right">
          Quedan <%= time_ago_in_words(proyecto.fin_aportaciones) %>
        </div>
        <div id="modal-volunteers-project-<%= proyecto.id %>" class="col-sm-12 text-center text-info bold margin-top-xs">
          <%= render 'volunteers/volunteers_project', proyecto: proyecto %>
        </div>
        <div class="col-xs-4 col-xs-offset-4 margin-sm">
          <%= render 'users/modal_voluunter_form', proyecto: proyecto %>
        </div>
        <div class="small text-muted">.</div>
      </div>
      <div class="modal-footer">
        <div class="col-xs-12">
          <%= form_tag('/cartItemCreate', method: 'post', class: 'form-horizontal') do %>
              <%= hidden_field_tag :proyecto_id, proyecto.id %>
              <div class="form-group">
                <div class="col-xs-3 text-primary text-right">
                  <div class="small">
                    Colaborar con
                  </div>
                </div>
                <div class="col-xs-7" id="divSlider">
                  <%= range_field_tag :aportacion, 5, min: 5, max: 80, id: 'aportationSlider', class: 'form-control aportationSlider' %>
                </div>
                <div id="aportationInfo" class="aportationInfo col-xs-2 large text-primary bold text-left">5€</div>
              </div>
              <div class="form-group">
                <%= submit_tag 'Colaborar', class: 'btn btn-primary btn-xs btn-block' %>
                <button type="button" class="btn btn-default btn-xs btn-block" data-dismiss="modal">Cerrar</button>
              </div>
          <% end %>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div><!-- /.modal -->

