<!-- Modal -->

<div class="modal fade modal-project" id="modalProyecto-<%= proyecto.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div id="modalId" style="visibility: hidden"></div>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="text-center"><%= link_to proyecto.titulo, proyecto %></h3>
      </div>
      <div class="modal-body">
        <div class="col-xs-12 margin-sm">
          <%= render '/shared/carousel_modal', proyecto: proyecto %>
        </div>
        <div class="col-xs-12 margin-xs"><%= proyecto.descripcion_larga.html_safe %></div>

        <div class="col-sm-7" title="Fecha del proyecto">
          <span class="text-muted">Desde el</span> <%= proyecto.fechaInicio %>
          <span class="text-muted">hasta el</span> <%= proyecto.fechaFin %>
        </div>
        <div class="col-sm-5"><span class="text-muted">Lugar:</span> <%= proyecto.lugar %></div>
        <div class="col-xs-12"> <%= render 'shared/progress_bar', proyecto: proyecto %></div>
        <div class="col-xs-6 text-left">
          <% if proyecto.total_collected > 0 %>
              <div class="text-success">
                <%= pluralize(proyecto.total_collected, '€ conseguido', '€ conseguidos') %>
                de <%= proyecto.cantidad_total.to_i %>€
              </div>
          <% else %>
              <div class="text-info">
                Sé el primero en colaborar!
              </div>
          <% end %>
        </div>
        <div class="col-xs-6 text-right">
          Quedan <%= time_ago_in_words(proyecto.fin_aportaciones) %>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-sm-12">
          <%= form_tag('/cartItemCreate', method: 'post', remote: 'true') do %>
              <%= hidden_field_tag :proyecto_id, proyecto.id %>
              <div class="col-xs-2 text-info text-center">
                <div class="small">
                  Colaborar con
                </div>
              </div>
              <div class="col-xs-10" id="divSlider">
                <%= range_field_tag :aportacion, 5, min: 5, max: 80, id: 'aportationSlider', class: 'form-control aportationSlider' %>
              </div>
              <div id="aportationInfo" class="aportationInfo">5€</div>
              <div id="divAportar">
                <%= submit_tag 'Colaborar', class: 'btn btn-primary btn-block' %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div><!-- /.modal -->


