<% provide(:title, 'Confirmar Pago') %>

<div class=" pagos">

  <% nombre= nil; nombre = current_user.name + ' ' + current_user.family_name unless current_user.nil? %>
  <% nif= nil; nif = current_user.nif unless current_user.nil? %>

  <ol class="breadcrumb breadcum-title">Confimar Pago</ol>
  <div class="col-sm-5">
    <%= form_for @order do |f| %>

        <div class="form-horizontal">
          <%= f.hidden_field :express_token %>
          <div class="form-group">
            <label for="invoice_name">Nombre</label>
            <%= f.text_field :invoice_name, class: "form-control", placeholder: "Nombre", value: nombre %>
          </div>
          <div class="form-group">
            <label for="invoice_nif">NIF</label>
            <%= f.text_field :invoice_nif, class: "form-control", placeholder: "NIF", value: nif %>
          </div>
          <div class="form-group">
            <%= f.submit "Confirmar Pago", class: 'btn btn-success btn-block', id: 'confirm_new_order' %>
            <div class="text-center"><em> Pulse aquí para
              confirmar la compra</em></div>
          </div>
          <div class="form-group">
            <%= check_box_tag :visible_cart %> Quiero que otros puedan que he donado (aparecerá su nombre como donante,
            si no se marca esta opción será anónimo)
          </div>
        </div>
    <% end %>
  </div>
  <div class="col-sm-6 col-sm-offset-1">

    <table class="table">
      <thead>
      <tr>
        <th>Proyecto</th>
        <th>Aportación</th>
      </tr>
      </thead>
      <% session_cart.valid_cart_items.each do |ci| %>
          <tr>
            <td><%= ci.proyecto.titulo %></td>
            <td><%= ci.aportacion %> &euro;</td>
          </tr>
      <% end %>
      <tfoot>
      <tr>
        <td>
          <b>Total</b>
        </td>
        <td>
          <b><%= session_cart.sub_total %> &euro;</b>
        </td>
      </tr>
      </tfoot>
    </table>

  </div>


</div>