<table class="table table-hover" id="adminTable">
  <thead>
  <tr>
    <th><%= sortable "cart_items.id", "Id" %></th>
    <th><%= sortable "proyectos.titulo", "Proyecto" %></th>
    <th><%= sortable "users.family_name", "Usuario pago" %></th>
    <th><%= "Justificante a" %></th>
    <th><%= sortable "aportacion", "Aportacion" %></th>
    <th><%= sortable "carts.purchased_at", "Fecha Aportación" %></th>
    <th>Token Paypal</th>
  </tr>
  </thead>
  <% @cart_items.each do |ci| %>
      <tr>
        <td><%= ci.id %></td>
        <td><%= link_to ci.proyecto.titulo, ci.proyecto %></td>
        <% if ci.cart.order %>
            <% if ci.user %>
                <td><%= link_to ci.cart.order.name_second, ci.user %></td>
            <% else %>
                <td><%= ci.cart.order.name_second %></td>
            <% end %>
        <% else %>
            <% if ci.user %>
                <td><%= link_to ci.user.name_second, ci.user %></td>
            <% else %>
                <td>Usuario anónimo</td>
            <% end %>
        <% end %>
        <td><%= ci.justify %></td>
        <td><%= ci.aportacion.to_i %> &euro;</td>
        <td><%= dateAndTime(ci.cart.purchased_at) %></td>
        <td><%= ci.express_token %>
        <td><%= link_to 'Ver', ci, remote: true, class: 'btn btn-default btn-xs' %></td>
      <tr>
  <% end %>
</table>
<%= will_paginate previous_label: t("Anterior"), next_label: t("Siguiente") %>