<!--Botón -->
<div id="zenbox_tab" href="#" title="Contáctanos" class="ZenboxTabLeft hidden-xs hidden-sm" classname="ZenboxTabLeft">
  <button class="btn btn-primary btn-xs btn-cuadrado" data-toggle="modal" data-target="#modal_contact_form">
    <span class="glyphicon glyphicon-envelope"></span> Contáctanos
  </button>
</div>
<!-- Modal -->
<div class="modal fade" id="modal_contact_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Contacte</h4>
      </div>
      <div class="modal-body">
        <%= form_for(Suggest.new, html: {id: "suggest_form", class: ""}, remote: true) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <div id="error_explanation_js">
              <div class="alert alert-danger">
                Compruebe campos en rojo
              </div>
            </div>
            <div class="form-group">
              <%= f.label :name, "Nombre", class: "control-label" %>
              <% if current_user %>
                  <%= f.text_field :name, class: "form-control", placeholder: "Nombre", value: current_user.name + ' ' + current_user.family_name %>
              <% else %>
                  <%= f.text_field :name, class: "form-control", placeholder: "Nombre" %>
              <% end %>
            </div>
            <div class="form-group">
              <%= f.label :email, "Email", class: "control-label" %>
              <% if current_user %>
                  <%= f.email_field :email, class: "form-control", placeholder: "Email", value: current_user.email %>
              <% else %>
                  <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
              <% end %>
            </div>
            <div class="form-group">
              <%= f.label :tel, 'Teléfono', class: "control-label" %>
              <%= f.telephone_field :tel, class: "form-control", placeholder: "Teléfono" %>
            </div>
            <div class="form-group">
              <%= f.label :title, 'Asunto', class: "control-label" %>
              <%= f.text_field :title, class: "form-control", placeholder: "Asunto" %>
            </div>
            <div class="form-group">
              <%= f.label :suggestion, 'Comentario', class: "control-label" %>
              <%= f.text_area :suggestion, class: "form-control", placeholder: "Intente dar los máximos detalles posibles sobre su consulta, sugerencia o proposición.", rows: 5 %>
            </div>
            <div class="form-group">
              <%= f.submit "Enviar", class: "btn btn-primary btn-block", id: "suggest_submit" %>
              <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Cerrar</button>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>