<header>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <%= link_to "MicroFinanciaciones CEU", root_path, id: "logo", class: "navbar-brand" %>
      </div>
      <div class="navbar-collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to "Página principal", root_path %></li>
          <li><%= link_to "¿Quiénes somos?",   about_path %></li>
          <li><%= link_to "Contacte", contact_path %></li>
          <li><%= link_to "Ayuda", help_path %></li>
        </ul>
      </div>
    </div>
  </div>
</header>