<header>
  <div id="menu-superior" class="navbar navbar-default navbar-fixed-top">
    <%= link_to image_tag("logo-ceu.png", alt: "Fundación Universitaria San Pablo CEU", class: "img-responsive pull-left", id: "img-nav-bar"), 'http://www.ceu.es/' %>
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "MicroFinanciaciones CEU", root_path, id: "logo", class: "navbar-brand" %>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to "¿Quiénes somos?", about_path %></li>
          <li><%= link_to "Contacte", contact_path %></li>
          <li><%= link_to "Ayuda", help_path %></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if signed_in? && %>
              <li id="liSessionCart"><%= link_to session_cart do %>
                    <% if session_cart.valid_cart_items.count>0 %>
                        <span class="badge"><%= session_cart.valid_cart_items.count %></span>
                    <% else %>
                        <span class="badge hidden"><%= session_cart.valid_cart_items.count %></span>
                    <% end %>
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                <% end %></li>
              <li class="dropdown-open">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-user"></span> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Perfil de usuario", current_user %></li>
                  <li><%= link_to "Carrito", session_cart %></li>
                  <li><%= link_to 'Opciones', '#' %></li>
                  <li class="divider"></li>
                  <li><%= link_to 'Cerrar sesión', signout_path, method: 'delete' %></li>
                </ul>
              </li>
              <% if current_user.admin? %>
                  <li class="dropdown-open">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-wrench"></span><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Aportaciones", '/cartitem/indexadmin' %></li>
                      <li><%= link_to "Buzón" + suggestsNotShown, '/suggests', id:"unread_suggests" %></li>
                      <li><%= link_to "Proyectos", proyectos_path %></li>
                      <li><%= link_to "Usuarios", users_path %></li>
                    </ul>
                  </li>
              <% end %>
          <% elsif current_page?(signin_path) %>
              <li><%= link_to "Regístrate", signup_path %></li>
          <% elsif current_page?(signup_path) %>
              <li><%= link_to "Iniciar sesión", signin_path %></li>
          <% else %>
              <li><%= link_to "Iniciar sesión", signin_path %></li>
              <li><%= link_to "Regístrate", signup_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</header>