<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
<%= render 'layouts/header' %>
<%= yield :jumbotron %>
<div id="main-content" class="container">
  <% if @adviseContainer.nil? %>
      <div id="advise-container">
        <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>">
              <%= value.html_safe %>
            </div>
        <% end %>
      </div>
  <% end %>
  <%= yield %>
  <div id="contact_form_container">
    <%= render 'layouts/contact_form' %>
  </div>
</div>
<%= render 'layouts/footer' %>
<div class="container hidden-print">
  <%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>
